@import "{}/client/lib/custom.bootstrap.import.scss";

.event-item .image {
    height: 40px;
}
.start-content {
    padding-bottom: 20px;
}
@include media-breakpoint-down(xs) {
    .start-content {
        padding:0px;
    }
}
