@import "lib/custom.bootstrap.import.less";

.wikipage {
    .tab-content {
        background-color:white;
        @media(min-width:@screen-sm-min) {
            padding:15px;
        }
        @media(max-width:@screen-xs-max) {
            h3 {
                padding:5px;
            }
        }
    }
    .historic {
        border: 3px solid red;
    }
    .page-details {
        font-size: 12px;
    }
    hr {
        margin-bottom:5px;
        margin-top:10px;
    }
    h6 {
        margin-top:0px;
        margin-bottom:15px;
    }
    iframe, img {
        max-width: 90%;
        max-height: auto;
    }
}