@import "lib/custom.bootstrap.import.less";

.wikipage {
    .tab-content {
        background-color:white;
        padding:15px;
    }
    .historic {
        border: 3px solid red;
    }
    .page-details {
        font-size: 12px;
    }
    hr {
        margin-bottom:5px;
        margin-top:10px;
    }
    h6 {
        margin-top:0px;
        margin-bottom:15px;
    }
}