.hat-info {
    .participant-entry {
        cursor: pointer;
    }
    .list-group-item-faded {
        opacity:0.5;
    }
    .list-group-item {
        .progress.text-center {
            margin-bottom:0px;
        }
        .participant-buttons {
            padding-top: 10px;
        }
    }

}