
#userCreateDialog div.radio {
    display: inline;
    margin-right:15px;
}

.user-list-item {
    padding: 0px;
}

.user-list .card-header {
    padding: 10px 0px;
}

.user-list .card-header .fa {
    cursor: pointer;
}

.user-list-item img {
    margin: 2px;
    height: 60px;
    max-width: 80px;
    display: block;
    float: left;
}

.user-list-item .row {
    line-height: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin:0px;
}

.user-display .thumbnail {
    position: relative;
    height: 240px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.user-display .thumbnail button {
    /*display: none;*/
}

.user-display .opt-is-editable .thumbnail button {
    display: block;
    position: absolute;
    top: 0px;
    right: 15px;
}

.user-display .thumbnail h4 {
    display: block;
    position: absolute;
    text-shadow: white 0px 0px 5px,white -2px -2px 1px,white 2px 2px 1px;
    color: black;
    left: 10px;
    bottom: 5px;
}

.image-array a {
    display: inline-block;
    width: 80px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.debit-indicator {
    z-index: 10000;
    position: fixed;
    top: 0px;
    left: 50%;
    width:210px;
    margin-left:-100px;
    height:25px;
    background-color:black;
    border: 1px solid red;
    font-weight: bold;
    color:red;
    text-align:center;
    line-height:25px;
}