.ultisite-wysiwyg {
  position: relative;
  padding-top: 40px;
  .wysiwyg-toolbar {
    top: 0px;
    margin:0px;
    padding: 3px;
    position: absolute;
    background-color: white;
    white-space: normal;
    .wysiwyg-toolbar-icon {
        color:black;
    }
    .dropdown-menu.colors {
      min-width: auto;
    }
  }
  .wysiwyg-toolbar.fixed {
    position: fixed;
    top:50px;
  }
}
