@import "{}/client/lib/custom.bootstrap.import.scss";

.folder-tree-item .folder-tree-item {
    padding-left: 20px;
}

.file-browser-item {
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    div.col-12 {
        text-overflow:ellipsis;
        overflow: hidden;
        white-space: nowrap;
        a {
            text-shadow: 0px 0px 3px white,0px 0px 4px white,0px 0px 5px white;
        }
    }
}

#imageViewDialog .thumbnail {
    width: 100%;
}

#imageViewDialog .modal-dialog {
    width: 95%;
}
.modal-dialog {
    .nav-tabs {
        >li.active {
            >a.action-switch-source {
                background-color: $panel-default-heading-bg;
            }
        }
    }
    .tab-content {
        box-shadow:none;
        .panel.panel-default {
            border-top:none;
        }
    }
    .file-browser-gallery-item li a.edit-file {
        display:none;
    }
}
.file-browser-gallery {
    .file-uploader {
        width: 162px;
        height: 160px;
        float: left;
        margin: 5px;
        text-align: center;
        border: 3px dashed lightgray;
    }
}

.file-browser-gallery-item {
    width: 162px;
    height: 160px;
    float: left;
    margin: 5px;
    border: 1px solid lightgray;
    .title {
        text-align: center;
        font-size: 0.8em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .icon-image {
        font-size: 100px;
        color: $text-muted;
        text-align: center;
    }
    .image {
        width: 160px;
        height: 135px;
        margin: 1px;
        border: none;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.file-browser-gallery-item:hover {
    cursor: pointer;
    background-color: lightgray;
}
.new-gallery-item {
    width: 162px;
    height: 160px;
    float: left;
    margin: 3px;
    border: 3px dashed lightgray;
    border-radius: 5px;
    color: lightgray;
    padding: 5px;
}

.new-gallery-item button {
    font-size: 0.8em;
    margin-top: 10px;
    white-space: normal;
}