@import "{}/client/lib/custom.bootstrap.import.scss";

.blog-image {
    width: 320px;
    height: 240px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-public.inactive {
    display: none;
}

.blog-content {
    text-align: justify;
}

.blog .author {
    font-size: 0.8em;
    font-style: italic;
}

.blog .date,
.blog .remarks {
    font-size: 0.8em;
}

.panel {
    .blog-preview {
        position: relative;
        padding-bottom: 5px;
        margin-bottom: 0px;
    }
}

.blog-files {
    li {
        display: block;
        border: 1px solid gray;
        padding: 3px 15px;
        background-color: white;
        margin-top:5px;
    }
    li a.add-file  , li.dropdown-divider {
        display:none;
    }
}
.blog-separator {
    max-width: 600px;
    margin:35px auto;
    clear: both;
}
.action-preview-extender {
    display:none;
    cursor: pointer;
}

.panel .action-preview-extender {
    display:block;
}
@include media-breakpoint-up(md) {
    .blog-preview .blog-image {
        width: 160px;
        height: 120px;
        left: 0px;
        position: absolute;
        background-position: top center;
        background-size: contain;
    }
    .blog-preview .blog-content {
        position: relative;
        padding-left: 170px;
        min-height: 125px;
    }
}

@include media-breakpoint-down(sm) {
    .blog-preview {
        .blog-image {
            width: 160px;
            height: 120px;
            float: left;
        }
    }
    .panel {
        .blog-preview {
            .blog-container {
                overflow:hidden;
                text-overflow: ellipsis;
                transition: max-height 250ms;
                font-size:0.85em;
            }
            .blog-container.extended {
                max-height: 200px;
            }
            .blog-image {
                width: 80px;
                height: 60px;
            }
            .blog-content {
                position: relative;
                overflow:hidden;
                text-overflow: ellipsis;
            }
        }
        .blog-preview {
            .blog-container {
                max-height:30px;
            }
        }
        .action-preview-extender {
            position: absolute;
            bottom:0px;
            width:100%;
            font-size:0.8em;
        }
    }
}

.blogUpdateForm .thumbnail {
    height: 120px;
    width: 160px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}