@hallunkenGreen: rgb(28, 95, 60);
@hallunkenOrange: rgb(255, 133, 48);
@hallunkenOrangeDark: rgb(255, 90, 48);
@hallunkenBeige: rgb(221, 221, 187);
@warning: yellow;
@success: green;
@danger: red;
@info: cyan;
@gray-300: gray;
@secondary: @hallunkenGreen;
@primary: @hallunkenOrange;
@text-muted: gray;
@input-border: gray;