@import "{}/client/lib/custom.bootstrap.import.scss";

.practice-calendar {
    margin-bottom: 10px;
    margin-top: 10px;
}

.practice-calendar h4 {
    text-align: center;
}

.practice-map-image {
    .map-container {
        height: 200px;
    }
    width: 100%;
    max-width:450px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.practice-map-preview-image {
    width:150px;
    height:80px;
    border:3px solid $input-border;
}

.practice-map {
    border: 1px solid $input-border;
    width:450px;
    height:240px;
}

@media (max-width: 700px) {
    .cal-column {
        height: 55px;
        overflow: auto;
        white-space:nowrap;
    }
    .mini-practice {
        overflow: hidden;
        width: 80px;
        height: 50px;
        text-overflow: ellipsis;
        text-align: center;
    }
    .mini-practice-header {
        float: left;
        width: 55px;
        margin-top: 18px;
        margin-left: -20px;
        margin-right: -10px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        font-size: 0.8em;
        transform: rotate(-90deg);
    }
}

@media (min-width: 700px) {
    .cal-column {
        width: 14%;
        float: left;
        text-align: center;
    }
    .mini-practice {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
